*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;   
}
.main{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.result{
    text-align: center;
    margin: 15px 0;
    padding: 60px;
    width: 354px;
    height: 490px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
    color: hsl(252, 40%, 70%);
}
.result h2{
    color: hsl(0, 0%, 100%);
}
.result .title{
    padding-bottom: 30px;
    
}
.circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top:40px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    
}
.circle>h2{
    font-size:60px;
}
.comment{
     padding-top: 40px;
}

.summary{
    border: 1px solid transparent;
    border-radius:10px;
    width: 354px;
    height: 490px;
    margin: 15px 0;
    text-align: center;
    background-color: hsl(45, 100%, 99%);
   

}
.summary .title{
    color:hsl(0, 0%, 0%);
    padding:20px;
    text-align: left;
     
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.border{
    border: 1px solid transparent;
    width: 90%;
    justify-content: space-between;
    margin:10px 20px;
    padding:10px;
    border-radius: 10px;
}
.border .flex{
    width: 40%;
    justify-content: space-evenly;
}
.border .point{
    color: hsl(0, 0%, 0%);
}
.border .point span{
    color: hsl(252, 40%, 70%);
}

.reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}
.memory{
    color: hsl(39, 100%, 56%);
    background-color:  hsla(39, 100%, 56%, 0.1);
}
.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color:  hsl(221, 100%, 96%);
}
.summary .container button{
    color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: 25px;
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: rgb(48, 59, 90);
    cursor: pointer;
    transition: 0.4s;
}
.summary .container button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}